.holderBuzz{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: auto;
}

/* online */
.BuzzOnlineBase{
    width: 10px;
    height: 10px;
    background: #4BB543;
    border-radius: 50%;
    z-index: 11;
}
.BuzzOnline {
    z-index: 10;
    width: 12px;
    height: 12px;
    background: #4BB543;
    border-radius: 50%;
    position: absolute;
    animation: signaling 1.4s infinite ease-in-out;
}
.BuzzOnlineColor{
    background: #4BB543;
}
/* online */

/* ban */
.BanBuzz{
    width: 10px;
    height: 10px;
    background: #b57343;
    border-radius: 50%;
}
.BuzzBaneColor{
    background: #b57343;
}
/* ban */

/* block */
.BlockBuzz{
    width: 10px;
    height: 10px;
    background: #787878;
    border-radius: 50%;
}
.BuzzBlockColor{
    background: #787878;
}
/* block */

/* offline */
.OfflineBuzz{
    width: 10px;
    height: 10px;
    background: #b54343;
    border-radius: 50%;
    position: relative;
}

.BuzzOfflineColor{
    background: #b54343;
}
/* offline */

.BuzzTicket {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 30;
}

.holderBuzz:hover .BuzzTicket {
    opacity: 1;
    visibility: visible;
}

@keyframes signaling {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1.2);
        opacity: 0.75;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.50;
    }
    75% {
        transform: scale(1.4);
        opacity: 0.1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
